/* You can add global styles to this file, and also import other style files */

.clsName {
    background: green;
    background: -webkit-linear-gradient( to right, #e7e9bb, #403b4a);
    background: linear-gradient( to right, #e7e9bb, rgb(77, 121, 77));
}

.clSName {
    background: -webkit-linear-gradient( to right, #e7e9bb, #403b4a);
    background: linear-gradient( to right, #e7e9bb, rgb(159, 200, 216));
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
