<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img src="../../../assets/img/download.png " width="65px" />
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="Home">Home</a></li>
            <li><a routerLink="Mobile Phones">Mobile Parts</a></li>
            <li><a routerLink="Brand">Books</a></li>
            <li><a routerLink="Categories">Laptops</a></li>
            <li><a routerLink="Sign in">Pens</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a
    >
  </div>
</nav>