<p>
    “Believe nothing, O monks, merely because you have been told it or because is it traditional, or because you yourselves have imagined it.<br /> Do not believe what your teacher tells you merely out of respect for the teacher. But, whatsoever, after
    due examination and analysis, you find to be conducive to the good, the benefit,<br /> the welfare of all beings–that doctrine believe and cling to, and take it as your guide.”
</p>

<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="../../../assets/img/jason-leung-479251-unsplash.jpg" />
            </div>
            <a href="#user"><img class="circle" src="../../../assets/img/download (1).png" /></a>
            <a href="#name"><span class="white-text name">Pragati Zade</span></a>
            <a href="#email"><span class="white-text email">pragati@gmail.com</span></a
      >
    </div>
  </li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"
  ><i class="material-icons">menu</i></a
>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" />
                            <label for="email">Email</label>
                            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span
        >
      </div>
    </div>
  </form>
</div>